
.fade_out_right{
    opacity: 0.0;
    position: absolute;
    transform: translateX(300px);
     /* transition-timing-function: ease-in; */
    transition: all 1200ms 0s ease-in;
}


.fade_in_left{
    opacity: 0.0;
    position: absolute;
    transform: translateX(-300px);
     /* transition-timing-function: ease-in; */
    transition: all 1200ms 0s ease-out;
}

.animation_test {
    animation:
      h 4000ms ease-in-out infinite;
}
  
@keyframes h{
    
    0% { 
        opacity: 0.0;
        transform: translateX(-600px);
        position: absolute;
    }

    25% { 
        opacity: 1.0;
        transform: translateX(000px);
        position: absolute;
    }


    75% { 
        opacity: 1.0;
        transform: translateX(000px);
        position: absolute;
    }

    100%{ 
        opacity: 0.0;
        transform: translateX(600px);
        position: absolute;
    }

}

@keyframes stop{
        0% { 
            transform: translateX(0px);
            opacity: 1.0;
            position: absolute;
        }
        100%{ 
            opacity: 0.0;
            transform: translateX(600px);
            position: absolute;
        }
  }
